<hr class="rgba-white-light" style="margin: 0 15%;">

<!-- Grid row-->
<div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

  <!-- Grid column -->

  <div class="col-md-2 col-12 mt-5">
    <p style="line-height: 1.7rem">Justin Irazabal</p>
    <p style="line-height: 1.7rem">Grant Zhao</p>
    <p style="line-height: 1.7rem">Stephen Lu</p>
  </div>
  <div class="col-md-2 col-12 mt-5">
    <p style="line-height: 1.7rem">Sam Guise</p>
    <p style="line-height: 1.7rem">Jon Martin</p>
    <p style="line-height: 1.7rem">Matt Lawton</p>
  </div>
</div>
<!-- Grid column -->

<br />