<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Greg Silber</mat-card-title>
    <mat-card-subtitle>Instructor</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="http://www.cis.udel.edu/people/pics/Silber.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      Greg is known for his warm personality and creative thought process. 
      He has a unique ability in his field to articulate a plan in a manner 
      that anyone can understand which is both invigorating and unique.
    </p>
  </mat-card-content>
</mat-card>