.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .mat-card-avatar {
    background-image: url('https://yt3.ggpht.com/a-/AN66SAxx3sUEdCJ8Qmiy3qrgwdDV6ib0fTBhtCCXjA=s900-mo-c-c0xffffffff-rj-k-no');
  }
  