<hr class="rgba-white-light" style="margin: 0 15%;">

  <!-- Grid row-->
  <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
<!-- form goes here -->
<form>

  <!-- name -->
  <br>
  <div class="field">
    <input type="text" name="name" class="input" placeholder="Your Name">
  </div>


  <!-- email -->
  <div class="field">
    <input type="email" name="email" class="input" placeholder="Your Email">
  </div>

  <!-- message -->
  <div class="field">
    <textarea class="textarea" name="message" placeholder="What's on your mind?"></textarea>
  </div>

  <button type="submit" class="button is-danger is-large">Submit</button>

</form>
</div>