
<nav class="navbar">
    <a routerLink="/">
      <img src="../../../assets/images/atom_img.png" height="32px" width="32px" routerLink="/" hspace="10">
    </a>
    <a class="navbar-brand" routerLink="/">Courseasaurus</a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/">Home</a>
        <a class="nav-item nav-link" routerLink="/about">About</a>
        <a class="nav-item nav-link" routerLink="/contact">Contact</a>
        <a class="nav-item nav-link"
        *ngIf="!auth.isAuthenticated()"
        (click)="auth.login()">Log In</a>
        <a class="nav-item nav-link"
        *ngIf="auth.isAuthenticated()"
        (click)="auth.logout()">Log Out</a>
      </div>
    </div>
    <div class="navbar-expand ml-auto navbar-nav">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="https://github.com/gzhao12/CISC474_Project3" target="_blank">
          <i class="fa fa-github"></i>
        </a>
        <a class="nav-item nav-link" href="https://www.instagram.com/p/BpNOrQ3g2QT/" target="_blank">
          <i class="fa fa-instagram"></i>
        </a>
      </div>
    </div>
  </nav>

