<div class="jumbotron">
  <div class="container">
    <div class="text-right">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/2000px-Python-logo-notext.svg.png"
        height="40px" width="40px" hspace="5">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Matlab_Logo.png/534px-Matlab_Logo.png" height="40px"
        width="40px" hspace="5">
    </div>
    <h1 class="display-3 text-left">{{CourseNumber}}</h1>
    <hr class="my-3">
    <h2 class="display-6 text-left">{{CourseName}}</h2>
    <h1 class="display-4 text-left pt-5">Course Description</h1>

    <p>
      <button type="button" class="btn btn-outline-primary btn-sm" (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
        More Info +
      </button>
    </p>
    <div id="collapseExample" [ngbCollapse]="!isCollapsed">
      <div class="card">
        <div class="card-body">
          {{CourseDesc}}
        </div>
      </div>
    </div>
    <br>
    <div class="wrapper">

      <ng-container *ngFor="let results of restItems; let i=index">
        <div *ngIf="results.course_id == 106 && results.post_section == 'course_desc'">
          <div class="card card-1">
            <div class="author">{{results.author}}</div>
            <div class="content-text">{{results.content}}</div>
            <div class="votes">
              <span>
                <input (click)="updateUpvotes(results)" [(ngModel)]="post.up_votes" type="image" src="../../../assets/images/uparrow.png"
                  height="20px" width="20px">{{results.up_votes}}
                <input (click)="updateDownvotes(results)" [(ngModel)]="post.down_votes " type="image" src="../../../assets/images/downarrow.png"
                  height="20px" width="20px">{{results.down_votes}}
              </span>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <!--Logged In-->
    <mat-accordion *ngIf="auth.isAuthenticated()">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Add a comment!
          </mat-panel-title>
          <mat-panel-description>
            
          </mat-panel-description>
        </mat-expansion-panel-header>
    
        <mat-form-field>
          <input matInput [(ngModel)]="post.author" name="author" placeholder="First name">
        </mat-form-field>
        <br>
        <mat-form-field>
          <textarea matInput [(ngModel)]="post.content" name="message" placeholder="Description"></textarea>
        </mat-form-field>
        <br>
        <button (click)="addPostDesc(post)" type="submit" class="button">Submit</button>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
       
      </mat-expansion-panel>
    </mat-accordion>
     <!--Not Logged In-->
     <div *ngIf="!auth.isAuthenticated()">
        Log in to submit your info on this class.
      </div>
    

    <h1 class="display-4 text-left pt-5">Tips</h1>
    <div class="wrapper">

      <ng-container *ngFor="let results of restItems; let i=index">
        <div *ngIf="results.course_id == 106 && results.post_section == 'tips'">
          <div class="card card-1">
            <div class="author">{{results.author}}</div>
            <div class="content-text">{{results.content}}</div>
            <div class="votes">
              <span>
                <input (click)="updateUpvotes(results)" [(ngModel)]="post.up_votes" type="image" src="../../../assets/images/uparrow.png"
                  height="20px" width="20px">{{results.up_votes}}
                <input (click)="updateDownvotes(results)" [(ngModel)]="post.down_votes " type="image" src="../../../assets/images/downarrow.png"
                  height="20px" width="20px">{{results.down_votes}}
              </span>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <!--Logged In-->
    <mat-accordion *ngIf="auth.isAuthenticated()">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Add a comment!
          </mat-panel-title>
          <mat-panel-description>
            
          </mat-panel-description>
        </mat-expansion-panel-header>
        
        <mat-form-field>
          <input matInput [(ngModel)]="post.author" name="author" placeholder="First name">
        </mat-form-field>
        <br>
        <mat-form-field>
          <textarea matInput [(ngModel)]="post.content" name="message" placeholder="Description"></textarea>
        </mat-form-field>
        <br>
        <button (click)="addPostTips(post)" type="submit" class="button">Submit</button>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
       
      </mat-expansion-panel>
    </mat-accordion>
     <!--Not Logged In-->
     <div *ngIf="!auth.isAuthenticated()">
        Log in to submit your info on this class.
      </div>

    <h1 class="display-4 text-left pt-5">Professors</h1>
  </div>
</div>